*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root{
    --light-pink : #fcf5ed;
    --black: #000000;
    --white: #ffffff;
    --peachy-beige: #f4bf96;
}

@font-face {
    font-family: "BrownSugar";
    src: url("./fonts/brownsugar.otf") format("opentype");
    font-weight: normal;
}
/* Container and Icons for Markdown and HTML section */
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "BrownSugar", sans-serif;
    align-items: center;
    margin: 0 auto;
}

.icon{
    display: flex;
}

.icon img{
    cursor: pointer;
}


/* Phones */
@media (max-width: 600px) {
    .container{
        flex-direction: column;
    }

    .markdown, .text, .html, .markeddown{
        width: 300px;
    }
}

/* Tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    .container{
        flex-direction: column;
    }

    .markdown, .text, .html, .markeddown{
        width: 550px;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    .markdown, .text, .html, .markeddown{
        width: 550px;
    }
}

/* Back Button */
.back{
    font-family: "BrownSugar", sans-serif;
    display: flex;
    align-items: start;
    margin: 25px 25px;
    font-size: 25px;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px var(--black);
    cursor: pointer;
    background-color: var(--light-pink);
}

.back:hover{
    background-color: var(--black);
    color: var(--light-pink);
}
