@media only screen and (max-width: 1075px){
    .container{
        flex-direction: column;
    }
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "BrownSugar", sans-serif;
    align-items: center;
    margin: 0 auto;
}

.back{
    font-family: "BrownSugar", sans-serif;
    display: flex;
    align-items: start;
    margin: 25px 25px;
    font-size: 25px;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px var(--black);
    cursor: pointer;
    background-color: var(--light-pink);
}

.back:hover{
    background-color: var(--black);
    color: var(--light-pink);
}

.markdown, .text{
    width: 550px;
    height: auto;
    background-color: var(--light-pink);
    margin: 25px 25px;
    box-shadow: 3px 3px 3px var(--black);
}

.markdown-navbar, .text-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    border: 2px solid var(--black);
    font-size: 25px;
    box-sizing: border-box;
    
}

.icon{
    display: flex;
}

.icon img:nth-child(1){
    cursor: pointer;
}

.markdown textarea, .result{
    width: 100%;
    height: 500px;
    overflow-y: auto;
    padding: 10px 5px 10px 10px;
    resize: none;
    border: 2px solid var(--black);
    outline: none;
    font-size: 15px;
    border-top: none;
    box-sizing: border-box;
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
}

.result *{
    margin-top: 10px;
}



.result pre{
    background-color: var(--peachy-beige);
}

.result ul, .result ol{
    padding-left: 25px;
}